.code-block {
    --shadow: 1px 1px 1px #4442;
    --code-background: #f0f9ff;

    text-align: left;
    font-size: var(--font-size-large);
    line-height: 1.2;
    font-weight: bold;
    background-color: var(--code-background);
    color: black;
    position: relative;
}

.code-header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    color: cornflowerblue;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    clear: right;
    background-color: var(--code-background);
    box-shadow: -1px 1px 1px black;
    z-index: 1;
    user-select: none;
}

.source {
    display: flex;
    flex-direction: column;
}

.error {
    color: #CC0000;
    font-weight: bold;
}

.code {
    font-family: monospace;
    white-space: pre-wrap;
}

.line {
    position: relative;
    display: flex;

    flex-flow: row wrap;
    align-items: baseline;
}

.line:hover {
    background-color: #aa44ff10;
}

.line.selected {
    background-color: #aa44ff30;
    box-shadow: 1px 1px 2px #0002;
}

.line .code {
    min-width: fit-content;
}

.line.changed {
    background-color: powderblue;
    color: blue;
}

.line.error {
    background-color: #F002;
    color: #CC0000;
}

.line.removed-before:not(.changed) {
    border-top: 3px solid powderblue;
}

.line.unused-definition {
    opacity: 0.55;
    color: dimgray;
}

.empty {
    align-items: center;
}

.annotation {
    font-size: 0.8rem;
    height: 0.7rem;
    margin-left: auto;
    padding-right: 0.5em;
    overflow: visible;
}

.unused-definition .annotation {
    color: lightslategray;
}

.line > div:not(.code) {
    user-select: none;
}

.line > div:not(.code):hover {
    user-select: text;
}

.line-number {
    font-size: 0.65rem;
    width: 1.2rem;
    font-weight: normal;
    text-align: right;
    margin-right: 2rem;
    opacity: 0.7;
}

.annotated:not(.unused-definition) > .line-number {
    font-weight: bold;
    font-size: 0.7em;
}

.annotation.annotated:has(+ .info-collapsed) {
    transform: translateX(-2.5rem);
}

.code .keyword {
    color: darkmagenta;
    text-shadow: var(--shadow);
}

.code .keyword.magic {
    color: orangered;
}

.code .number {
    color: green;
}

.code .builtin {
    color: darkblue;
    text-shadow: var(--shadow);
}

.code .directive {
    color: magenta;
    text-shadow: var(--shadow);
}

.code .directive.keyword {
    color: #DD00DD;
}

.code .is-defined {
    color: magenta;
}

.code .is-global {
    color: blue;
}

.code .is-constant {
    color: blue;
}

.code .is-custom-function {
    color: green;
}

.code > .unused {
    opacity: 0.75;
}

.symbol {
    cursor: pointer;
}

.symbol:hover {
    text-decoration: underline;
    background-color: white;
}

.quicklink {
    font-size: smaller;
    font-family: monospace;
    text-decoration: underline;
    color: black;
}

.quicklink:hover {
    cursor: pointer;
    opacity: 0.6;
}

.changed-info {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    padding: 2px;
    z-index: 1;
    border: 1px solid darkred;
    box-shadow: 2px 2px 1px #0002;
    font-size: smaller;
    font-family: monospace;
    color: darkred;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.changed-info > button {
    padding: 0 0.5rem;
    border-radius: 0;
    border-color: darkred;
    color: darkred;
    background: none;
}

.changed-info > div:first-of-type {
    grid-column: span 2;
    opacity: 0.7;
}

.changed-info.info-collapsed,
.changed-info.info-collapsed > button {
    border-color: blue;
    color: blue;
}

.changed-info.info-collapsed div {
    display: none;
}