.code-block {
    text-align: left;
    font-size: var(--font-size-large);
    line-height: 1.2;
    font-weight: bold;
    background-color: #f0f9ff;
    color: black;
}

.source {
    display: flex;
    flex-direction: column;
}

.error {
    color: #CC0000;
    font-weight: bold;
}

.code {
    font-family: monospace;
    white-space: pre-wrap;
}

.line {
    position: relative;
    display: flex;

    flex-flow: row wrap;
    align-items: baseline;
}

.line .code {
    min-width: fit-content;
}

.line.changed {
    background-color: powderblue;
    color: blue;
}

.line.error {
    background-color: #F002;
    color: #CC0000;
}

.line.removed-before:not(.changed) {
    border-top: 3px solid powderblue;
}

.annotation {
    font-size: 0.8rem;
    height: 0.7rem;
    margin-left: auto;
    padding: 0.5em;
    overflow: visible;
}

.empty-line {
    height: 0.7em;
}

.line-number {
    font-size: 0.5em;
    width: 1.2rem;
    font-weight: normal;
    text-align: right;
    margin-right: 2rem;
    opacity: 0.7;
}

.annotated > .line-number {
    font-weight: bold;
    font-size: 0.7em;
}

.code {
    --shadow: 1px 1px 1px #0002;
}

.code .keyword {
    color: darkmagenta;
    text-shadow: var(--shadow);
}

.code .keyword.magic {
    color: orangered;
}

.code .number {
    color: green;
}

.code .builtin {
    color: darkblue;
    text-shadow: var(--shadow);
}

.code .directive {
    color: magenta;
    text-shadow: var(--shadow);
}

.code .is-defined {
    color: magenta;
}

.code .is-global {
    color: blue;
}

.code .is-constant {
    color: blue;
}

.code .replaced {
    cursor: help;
}