@import "layout.css";
@import "code.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-base: 1.25em;
  --font-size-factor: 1;
  --font-size-large: calc(var(--font-size-base) * var(--font-size-factor));
  --font-size-label: calc(0.88 * var(--font-size-base) * var(--font-size-factor));

  @media (max-width: 400px) {
    font-size: 8pt;
    --font-size-base: 9pt;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.1;
}

h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
  text-decoration: underline;
}

button {
  border-radius: 3px;
  border: 1px solid silver;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: 0.25s;
}
button:hover {
  border-color: #aa6cb4;
  box-shadow: 0 0 1px 0 #f004;
  transform: translate(-1px, -1px);
}
button:focus,
button:focus-visible {
  outline: 1px auto black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

pre {
  margin: 0;
}

label {
  font-family: monospace;
  margin: 4px 0;
  font-size: var(--font-size-label);
}

kbd {
  background-color: black;
  color: white;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
}
