#app {
    margin: 0 auto;
    display: flex;
    color-scheme: light dark;
    background-color: #fff;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    #app {
        background-color: #242424;
        color: #fff;
    }
}

#layout {
    --page-pad: 2vmin;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: calc(100vw - 2 * var(--page-pad));
    height: calc(100vh - 2 * var(--page-pad));
    padding: var(--page-pad);
    gap: calc(0.5 * var(--page-pad));
    overflow-x: hidden;

    @media (max-width: 1300px) {
        flex-direction: column-reverse;
    }
}

#layout > #console {
    flex: 1;
}

#layout > #shaders {
    flex: 2;
}

#layout > #working-program {
    flex: 0;
}

#console {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    text-align: left;
    font-family: monospace;
    font-size: var(--font-size-large);
    line-height: 2;
    background-color: #fcc;
    color: black;
    padding: 1rem;
    overflow-y: auto;
    border: 2px solid grey;
    box-shadow: 1px 1px 3px inset #b00b;

    @media (min-width: 800px) and (max-width: 1300px) {
        flex-direction: row;
    }
}

#shaders {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    overflow-x: hidden;
    overflow-y: visible;
}

#shaders > div {
    padding: 0.5rem;
    border: 2px solid black;
    box-shadow: 2px 2px 2px #0003;
}

#working-program {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    justify-content: stretch;
}

#canvas-frame {
    border: 1px dashed #ddd;
    display: flex;
    place-items: center;
}

#canvas {
    max-width: calc(100vw - 2 * var(--page-pad));
    margin: auto;

    @media (min-width: 800px) {
        /* width: 50vw; */
        height: 50vh;
        min-height: min(100%, 400px);
    }
}

#controls {
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto;
    column-gap: 0.25rem;
    align-items: center;
    align-content: start;
}

button.render-button {
    width: 100%;
    min-height: 3rem;
    font-size: var(--font-size-large);
}

#controls > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: stretch;
    align-items: center;
}

#controls > div {
    font-family: monospace;
    gap: 0.5rem;
}

#controls > div.free-row {
    grid-column: 2 / -1;
    font-size: var(--font-size-large);
    display: flex;
    flex-direction: row;
    padding-left: 0.25rem;
    width: 100%;
}

#controls > div.value-label {
    padding-left: 0.25rem;
    padding-right: 0.5rem;
    white-space: nowrap;
    font-size: var(--font-size-large);
}

#controls > div > label {
    white-space: nowrap;
}

.free-row button {
    padding: 0.25rem 0.5rem;
    flex: 1;
}

.free-row .right-align {
    margin-left: auto;
}

.small-button {
    padding: 0.12em 0.5em 0.25em;
    margin: 0;
    font-size: smaller;
    white-space: nowrap;
}

#canvas-controls {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#canvas-controls > button {
    padding: 0.2rem 0.5rem;
    font-size: x-large;
    font-family: monospace;
}

.fps {
    font-size: smaller;
    font-weight: bold;
    align-self: flex-start;
    opacity: 0.6;
}