#app {
    margin: 0 auto;
    display: flex;
    background-color: #fff;
}

#layout {
    --page-pad: 2vmin;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: calc(100vw - 2 * var(--page-pad));
    height: calc(100vh - 2 * var(--page-pad));
    padding: var(--page-pad);
    gap: var(--page-pad);

    @media (max-width: 1400px) {
        flex-direction: column-reverse;
    }
}

#layout > #console {
    flex: 1;
}

#layout > #shaders {
    flex: 2;
}

#layout > #working-program {
    flex: 0;
}

#console {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    text-align: left;
    font-family: monospace;
    font-size: var(--font-size-large);
    line-height: 2;
    background-color: #fcc;
    padding: 1rem;
    overflow-y: auto;
    border: 2px solid grey;
    box-shadow: 1px 1px 3px inset #b00b;

    @media (min-width: 800px) and (max-width: 1400px) {
        flex-direction: row;
    }
}

#shaders {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    overflow-x: hidden;
    overflow-y: visible;
}

#shaders > div {
    padding: 0.5rem;
    border: 2px solid black;
    box-shadow: 2px 2px 2px #0003;
}

#shaders > div div {
    overflow-x: auto;
}

#working-program {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: stretch;

    @media (min-width: 1000px) and (max-width: 1400px) {
        flex-direction: row;
    }
}

#canvas-frame {
    border: 1px dashed #ddd;
    display: flex;
    place-items: center;
}

#canvas {
    max-width: calc(100vw - 2 * var(--page-pad));
    margin: auto;

    @media (min-width: 800px) {
        height: 50vh;
        min-height: 400px;
    }
}

#controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#controls > button {
    width: 100%;
    min-height: 3rem;
    font-size: var(--font-size-large);
}
