.code {
    text-align: left;
    font-size: large;
    line-height: 1.25;
    font-weight: bold;
    background-color: #ebebeb;
}

.source {
    display: flex;
    flex-direction: column;
}

.error {
    color: #CC0000;
    font-weight: bold;
    white-space: pre-wrap;
}

.rightnote {
    text-align: right;
}
