.code {
    text-align: left;
    font-size: var(--font-size-large);
    line-height: 1.2;
    font-weight: bold;
    background-color: #ebebeb;
    overflow: auto;
}

.source {
    display: flex;
    flex-direction: column;
}

.error {
    color: #CC0000;
    font-weight: bold;
    white-space: pre-wrap;
}

.rightnote {
    text-align: right;
}
