#app {
    margin: 0 auto;
    display: flex;
    color-scheme: light dark;
    background-color: #fff;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    #app {
        background-color: #242424;
        color: #fff;
    }
}

#layout {
    --page-pad: 1.5vmin;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: calc(100vw - 2 * var(--page-pad));
    height: calc(100vh - 2 * var(--page-pad));
    padding: var(--page-pad);
    gap: calc(0.5 * var(--page-pad));
    overflow-x: hidden;

    @media (max-width: 1300px) {
        flex-direction: column-reverse;
    }
}

#layout > #console {
    flex: 1;
}

#layout > #shaders {
    flex: 2;
}

#layout > #working-program {
    flex: 0;
}

#layout.no-code > #shaders {
    display: none;
}

#layout.no-code > #working-program {
    flex: 1;
    display: grid;
    grid-template:
        "uniforms canvas"   auto
        "uniforms controls" 1fr
        / 2fr 1fr;
    grid-column-gap: 2rem;
}

#layout.no-code canvas {
    margin: 1rem;
}

#layout.no-code #control-frame {
    gap: 2rem;
}

#console {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    text-align: left;
    font-family: monospace;
    font-size: var(--font-size-large);
    line-height: 2;
    background-color: #fcc;
    color: black;
    padding: 1rem;
    overflow-y: auto;
    border: 2px solid grey;
    box-shadow: 1px 1px 3px inset #b00b;

    @media (min-width: 800px) and (max-width: 1300px) {
        flex-direction: row;
    }
}

#shaders {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    overflow-x: hidden;
    overflow-y: visible;
}

#shaders > div {
    padding: 0.5rem;
    border: 2px solid black;
    box-shadow: 2px 2px 2px #0003;
}

#working-program {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    justify-content: stretch;
}

#canvas-frame {
    grid-area: canvas;
    display: flex;
    place-items: center;
    gap: 0.25rem;
    position: sticky;
    top: 0;
    background-color: white;
}

#canvas {
    max-width: calc(100vw - 2 * var(--page-pad));
    margin: auto;
    border: 1px dashed #ddd;

    @media (min-width: 800px) {
        height: 45vh;
        min-height: min(100%, 400px);
    }
}

#control-frame {
    grid-area: controls;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding-right: 8px;
    overflow: hidden;
    font-family: monospace;
    font-size: var(--font-size-base);
}

#uniform-controls {
    grid-area: uniforms;
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto;
    column-gap: 0.25rem;
    padding-right: 8px;
    align-items: center;
    align-content: start;
    overflow-x: hidden;
    overflow-y: auto;
}

#control-frame > div,
#uniform-controls > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: stretch;
    align-items: center;
}

#uniform-controls > div {
    font-family: monospace;
    gap: 0.5rem;
}

#uniform-controls > div.value-label {
    padding-left: 0.25rem;
    padding-right: 0.5rem;
    white-space: nowrap;
    font-size: var(--font-size-label);
}

#uniform-controls > div > label {
    white-space: nowrap;
}

#uniform-controls .unused {
    opacity: 0.5;
}

.free-row {
    grid-column: 2 / -1;
    font-size: var(--font-size-large);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 0.25rem;
    width: 100%;
}

.free-row.extra-column {
    grid-column: 1 / -1;
}

.free-row button {
    padding: 0.25rem 0.5rem;
    flex: 1;
}

.free-row .full-spacer {
    flex: 1;
}

.spacer {
    flex: 0;
    min-width: 1rem;
}

.spacer.half {
    min-width: 0.5rem;
}

.free-row .right-align {
    margin-left: auto;
    max-width: fit-content;
    text-align: right;
}

.small-button {
    padding: 0.12em 0.5em 0.25em;
    margin: 0;
    font-size: smaller;
    white-space: nowrap;
    user-select: none;
    outline-width: 1px !important;
    outline-color: transparent;
}

#display-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    height: 100%;
}

#display-controls > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.25rem;
}

#display-controls button {
    padding: 0.2rem 0.5rem;
    font-size: x-large;
    font-family: monospace;
}

#display-controls label {
    font-size: 1em;
    font-weight: bold;
    opacity: 0.7;
    margin: 0;
    text-align: center;
}

.separator {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    width: 100%;
    margin: 0.3rem 0;
    color: darkgray;
    font-weight: bold;
}

.separator::before,
.separator::after {
    content: '';
    height: 2px;
    flex-basis: 1vw;
    background-color: currentColor;
    transform: translateY(-2px);
}

.separator::after {
    flex: 1;
}

.separator span {
    padding: 0 1rem;
    white-space: nowrap;
}

#uniform-controls > .separator-row:has(+ .separator-row),
#uniform-controls > .separator-row:last-child {
    display: none;
}


svg text.clickable {
    font-weight: bold;
    cursor: pointer;
    text-anchor: middle;
    user-select: none;
}

svg text.clickable:hover {
    transform: translate(-1px, -1px);
    stroke: purple;
    text-shadow: 0 0 1px #ff00bb22;
}

svg text.clickable:active {
    stroke: #747bff;
    transform: none;
}
