#time-controls {
    display: flex;
    justify-content: stretch;
    flex: 1;
}

#time-seek {
    flex: 1;
    height: 30px;
}

#time-seek > rect {
    min-width: 4px;
    min-height: 4px;
}

#seek-handle, #ghost-handle {
    cursor: move;
    pointer-events: visiblefill;
    stroke: currentColor;
    stroke-width: 4px;
    fill: none;
    transition: color 0.5s ease;
}

#seek-handle:hover {
    fill: currentColor;
}

#fps {
    font-size: smaller;
    font-weight: bold;
    opacity: 0.6;
}

.fps-box {
    border: 1px solid silver;
    text-align: center;
    gap: 0;
}

.presets-selector {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.small-link {
    font-size: small;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}

.readout-stats {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
    justify-content: space-evenly;
}

.readout-stats > div:first-of-type {
    margin-bottom: 0.5rem;
}

.readout-stats > div {
    white-space: pre;
}

.readout-stats > span {
    margin-top: 0.5rem;
    font-style: italic;
}

.bool-description {
    grid-column: span 2;
    white-space: pre-line;
    overflow-wrap: break-word;
    font-size: small;
    font-family: sans-serif;
    user-select: none;
}

.bool-description.extra-column {
    grid-column: span 3;
}
