.fps {
    font-size: smaller;
    font-weight: bold;
    opacity: 0.6;
}

.fps-box {
    border: 1px solid silver;
    text-align: center;
    gap: 0;
}

.presets-selector {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.presets-hint {
    font-size: smaller;
    text-decoration: underline;
    cursor: pointer;
}

.readout-stats {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
    justify-content: space-evenly;
}

.readout-stats > div:first-of-type {
    margin-bottom: 0.5rem;
}

.readout-stats > div {
    white-space: pre;
}

.readout-stats > span {
    margin-top: 0.5rem;
    font-style: italic;
}

.bool-description {
    grid-column: span 2;
    white-space: pre-line;
    overflow-wrap: break-word;
    font-size: small;
    font-family: sans-serif;
}

.bool-description.extra-column {
    grid-column: span 3;
}