.fps {
    font-size: smaller;
    font-weight: bold;
    opacity: 0.6;
}

.readout-stats {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
    justify-content: space-evenly;
}

.readout-stats > div:first-of-type {
    margin-bottom: 0.5rem;
}

.readout-stats > div {
    white-space: pre;
}

.readout-stats > span {
    margin-top: 0.5rem;
    font-style: italic;
}

.bool-description {
    grid-column: span 2;
    white-space: pre-line;
    overflow-wrap: break-word;
    font-size: small;
    font-family: sans-serif;
}

.bool-description.extra-column {
    grid-column: span 3;
}